{% extends "themes/base_visitor.html.twig" %}

{% block title %}Liste des articles{% endblock %}

{% block description %}Lisez des articles interessants sur la santé et le médical{% endblock %}

{% block main %}
    <main>
        <h1 class="text-center my-3 display-5">Liste des articles</h1>
    </main>
{% endblock %}